<!DOCTYPE html>
<html>
<head>
  <title>Rank</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <a href="https://github.com/bay6/rank_of_github2"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
    <div id="user_header">
      <% if current_member %>
        Logged in as <%= current_member.email %>.
        <%= link_to "Log Out", destroy_member_session_path , :method => :delete%>
      <% else %>
        <%= link_to "Sign in with github", member_omniauth_authorize_path(:github)%>
        <%= link_to "Sign Up", new_member_registration_path %> or
        <%= link_to "Log In", new_member_session_path %>
      <% end %>
      <p><%= notice %></p>
      <p><%= flash[:error] %></p>
      <p><%= alert %></p>
    </div>

    <%= yield %>

  </div>

</body>
</html>
