<!DOCTYPE html>
<html>
<head>
  <title>Rank</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user_header">
      <%= render :partial=>'layouts/user_header' %>
  </div>

  <div class="container">
    <%= render 'layouts/flash' ,flash:flash unless flash.blank?%>
    <div>
      <a href="https://github.com/bay6/rank_of_github2"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

    <%= yield %>

    </div>
  </div>

</body>
</html>
